Source: flame
Section: devel
Priority: optional
Maintainer: Tong Zhang <zhangt@frib.msu.edu>
Build-Depends: debhelper (>=9),
               cmake, libboost-dev (>=1.55), libboost-all-dev (>=1.55),
               libhdf5-dev, doxygen, python (>=2.7), python-numpy,
               python-scipy, python-nose, flex, bison, cppcheck
Standards-Version: 3.9.6
Homepage: https://stash.frib.msu.edu/scm/phyapp/flame.git
Vcs-Git: https://stash.frib.msu.edu/scm/phyapp/flame.git
Vcs-Browser: https://stash.frib.msu.edu/scm/phyapp/flame.git

Package: flame
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Fast Linac Accelerator Model Engine -- executable
 C++ code to model ion accelerator like FRIB, initially, FLAME is created
 for fast modeling linac in the high-level contorls system.

Package: libflame
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Fast Linac Accelerator Model Engine -- library
 Core library of FLAME (C++), could be used to develop other flame-based
 applications.

Package: flame-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Fast Linac Accelerator Model Engine -- headers
 This package contains the header files of FLAME for further development.

Package: python-flame
Section: python
Architecture: any
Depends: libflame (=${binary:Version}), 
         ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
Description: Fast Linac Accelerator Model Engine -- Python module
 Python interface for FLAME (C++).

